body 
{
   font-family: 'MS Sans Serif';
   font-size:smaller;    
   background-color:#fbfbfc;
}

.etqs 
{
    float: left;
    margin-left: 10px;
    width: 90px;
}

.edits 
{
    margin-left: 5px;
    width: 125px;
    margin-right:10px;
}